.RegistrationForm1 {
    position: absolute;
    left: 300px;
    top: 70px;
    font-family: 'Poppins';
    transition: 0.2s all ease-in;
    background-color: #ddd;
    border-radius: 10px;
    height: calc(100% - 70px);
    width: calc(100% - 300px);
}

.RegistrationForm2 {
    border-radius: 10px;
    position: absolute;
    left: 100px;
    top: 70px;
    font-family: 'Poppins';
    background-color: #ddd;
    transition: 0.2s all ease-in;
    height: calc(100% - 70px);
    width: calc(100% - 100px);
}

.form {
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.form label {
    margin-right: 10px;
    color: gray;
    font-family: 24px;
}

.form input {
    padding: 10px;
    border: 2px solid gray;
    outline: none;
    border-radius: 7px;
    width: 270px;
}

.form input[type="submit"] {
    background-color: green;
    color: white;
    font-size: 24px;
    border: 2px solid green;
    cursor: pointer;
}

.form table tr {
    height: 70px;
}