.navbar {
    background-color: #242526;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    font-size: 20px;
    color: #fff;
    font-family: "Poppins";

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.navbar .menu {
    display: flex;
    margin: 0 5% 0 0;
    gap: 10px;
    align-items: center;
}

.menuLinks {
    display: flex;
    gap: 40px;
}

.menuLinks li {
    list-style: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

.title {
    font-size: 35px;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Poppins';
    margin: 0 0 0 4%;
}

.menuLinks li:hover {
    background-color: #695cfe;
}

.profileMenu {
    position: absolute;
    background-color: fff;
    z-index: 100;
    right: 10px;
    top: 90px;
    color: #242526;
    width: max-content;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 4px gray;
    transition: 0.5s all in ease-in-out;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}

.username {
    margin: 5px 0 20px 0;
    padding: 10px 0;
    border-bottom: 2px solid #FFF;
}

.profileMenu ul {
    padding: 0;
}

.profileMenu ul li {
    border-radius: 0;
    margin: 10px 5px;
    padding: 10px;
}

.profileMenu ul li:hover {
    background-color: #fff;
    transition: 0.2s all ease-in-out;
    border-radius: 10px;
}

.icon {
    margin: 5px 5px 0 0;
    font-size: 20px;
}

.optionInline {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
}